.container{display: block; padding: 15px;}
.homewrap{width:600px; margin: 0 auto; text-align: center;}
.homewrap .drop{padding: 15px 0;}
.homewrap .drop #dropBox{min-height: 100px; border:2px dashed #777; color:#777; line-height: 94px;}

.homewrap .Or{margin-bottom: 15px;}
.homewrap .Or:before{content:'Or'; background: #cccccc; display: inline-block; padding: 8px 11px; color: #000; border-radius: 50%;}
.homewrap button.md-primary.md-raised.gettyBtn{background: #222222; color:#fff; border: none; text-decoration: none; padding: 3px 15px;}
.homewrap button.md-primary.md-raised.gettyBtn:not([disabled]):hover{background: #4C4C4C;}
.toolbar{padding: 15px 0; background: #ececec; text-align: center;}
.searccontainer{font:14px arial, sans-serif;}
.searchHold{display: inline-block; text-align: left;}
.searchHold input[type="text"]{padding: 8px 15px; font-size: 16px; margin-right: 10px; border:1px solid #ccc; border-radius: 3px;}
.searchHold button{background: #1FA595; color: #fff; border: 0; outline: 0; padding: 8px 15px; text-transform: uppercase; font-size: 16px;}
.footer{position: fixed; bottom: 0; width: 100%;background: rgba(0,0,0,.6); text-align: center; left:0; color:#9A9A9A;}
.footer .footerHold{display: inline-block; padding: 10px 0;}
.footer button{background: #1FA595; color: #fff; border: 0; outline: 0; padding: 8px 15px; text-transform: uppercase; font-size: 16px;}
.listContainer ul{display: block;list-style: none; text-align: center;}
.listContainer ul li{display: inline-block; margin:0 10px 10px 0; vertical-align: top; position: relative;}
.listContainer ul li img{height: 108px; width:170px;}
.listContainer ul li .controls{position: absolute; width:100%; height: 100%; top:0; left: 0;}
.listContainer{padding-bottom: 80px;}
.more{text-align: center;}
md-checkbox{min-height: 95px !important;}
.listContainer ul li md-checkbox .md-container{top:10%;}
md-progress-linear[md-mode="indeterminate"]{position: fixed !important; top:0;}
md-progress-linear[md-mode="indeterminate"] .md-container{top:0 !important;}
.btn{padding: 6px 15px !important;}
.cropArea{text-align: center; padding-top:25px; }
.cropArea nc-darkroom{display: inline-block;}
.s48{width:56px; height: 56px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: rgba(0,0,0,0.5)}
.s48 svg path{fill: #9C0;}
.left ul li{position: relative;}
.s36{width:36px; height: 36px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.s36 svg path{fill: #ccc;}
#dropBox .md-button{background:#1FA595; padding: 3px 15px; margin-right:3px;}
.imageList{display: block; text-align: center; list-style: none;}
.imageList li{display: inline-block;  margin:0 10px 10px 0; vertical-align: top; position: relative; max-height: 108px;}
.imageList li img{height: 108px;}
.imageList li button.md-button.md-fab.md-mini, .bean li button.md-button.md-fab.md-mini{position: absolute; top:0px; right: 0px;  min-height: 24px; width: 24px; height: 24px; line-height: 24px;}
.imageList li button.md-button.md-fab.md-mini md-icon,.bean li button.md-button.md-fab.md-mini md-icon{width:16px; margin-left: -1px;}
h3{font-family: arial, sans-serif; font-size: 21px; text-align: center;}
.footer button.md-primary.md-raised{background:#1FA595;}
.footer button.md-primary.md-raised:not([disabled]):hover{background: #399287;}
md-content{padding:15px; color:#f44336}
md-dialog .md-actions{-webkit-justify-content: center !important;  -ms-flex-pack: center !important;  justify-content: center !important;}
.croppedList ul{padding:0;}
.croppedList ul li{display: block; max-width: 500px; margin: 10px auto;}
.croppedList ul li img{height: auto; width:100%;}
.bean{text-align:center;}
.bean ul{display:block;}
.bean ul li{display:inline-block; width:400px; margin:0 0 10px 10px; position:relative;}
.bean ul li img{width:100%;}
#btnSave{text-indent:-999px; opacity:0;}
.back{color:#fff; text-decoration:none; display:inline-block; margin-right:15px;}