<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
  </system.web>

  <appSettings>
    <add key="apikey" value="10021" />
    <add key="apiscretkey" value="ZtqGqIYkvGyqZT0y5ryqwwyyU/xcLoWK9GmS2eZmxvw=" />
    <add key="username" value="BettingPro" />
    <add key="password" value="gettyimages" />
    <add key="SiteURL" value="http://192.168.10.41/newgettyimagesAPI/" />
    <add key="TNsize" value="300X225" />
    <add key="TNTNsize" value="128X85" />
    <add key="spacerpath" value="http://192.168.10.41/newgettyimagesAPI/images/spacer.gif" />
    <add key="downloadpath" value="D:/www/NewGettyAPIclasses/newgettyimagesAPI/" />
    <add key="downloadsitepath" value="D:/www/NewGettyAPIclasses/newgettyimagesAPI/" />
     <add key="pixURL" value="http://192.168.10.41/newgettyimagesAPI/" />
    <add key="ConnString" value="data source=serverone\sql2008r2;initial catalog=gamingnetwork1;password=Sql2011#itpl;persist security info=True;user id=sa;workstation id=bettingpro1;packet size=4096;Max Pool Size=500" />
    <add key="Network1" value="data source=serverone\sql2008r2;initial catalog=gamingnetwork1;password=Sql2011#itpl;persist security info=True;user id=sa;workstation id=bettingpro1;packet size=4096;Max Pool Size=500" />
    <add key="Network2" value="data source=serverone\sql2008r2;initial catalog=gamingnetwork1;password=Sql2011#itpl;persist security info=True;user id=sa;workstation id=bettingpro1;packet size=4096;Max Pool Size=500" />
    <add key="Network3" value="data source=serverone\sql2008r2;initial catalog=gamingnetwork1;password=Sql2011#itpl;persist security info=True;user id=sa;workstation id=bettingpro1;packet size=4096;Max Pool Size=500" />
    <add key="Network4" value="data source=serverone\sql2008r2;initial catalog=gamingnetwork1;password=Sql2011#itpl;persist security info=True;user id=sa;workstation id=bettingpro1;packet size=4096;Max Pool Size=500" />
    <add key="Network5" value="data source=serverone\sql2008r2;initial catalog=gamingnetwork1;password=Sql2011#itpl;persist security info=True;user id=sa;workstation id=bettingpro1;packet size=4096;Max Pool Size=500" />
    <add key="Network6" value="data source=serverone\sql2008r2;initial catalog=gamingnetwork1;password=Sql2011#itpl;persist security info=True;user id=sa;workstation id=bettingpro1;packet size=4096;Max Pool Size=500" />
    <add key="Network7" value="data source=serverone\sql2008r2;initial catalog=gamingnetwork1;password=Sql2011#itpl;persist security info=True;user id=sa;workstation id=bettingpro1;packet size=4096;Max Pool Size=500" />
    <add key="Network8" value="data source=serverone\sql2008r2;initial catalog=gamingnetwork1;password=Sql2011#itpl;persist security info=True;user id=sa;workstation id=bettingpro1;packet size=4096;Max Pool Size=500" />
    <add key="Network9" value="data source=serverone\sql2008r2;initial catalog=gamingnetwork1;password=Sql2011#itpl;persist security info=True;user id=sa;workstation id=bettingpro1;packet size=4096;Max Pool Size=500" />
    <add key="streamconn" value="data source=serverone\sql2008r2;initial catalog=Streaming;password=Sql2011#itpl;persist security info=True;user id=sa;workstation id=bettingpro1;packet size=4096;Max Pool Size=500" />
    <add key="Adsensestring" value="data source=serverone\sql2008r2;initial catalog=gamingnetadsense;password=Sql2011#itpl;persist security info=True;user id=sa;workstation id=bettingpro1;packet size=4096;Max Pool Size=500" />
  </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.aspx" />
            </files>
        </defaultDocument>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
    </system.webServer> 
</configuration>