<div class="searccontainer">
    <div class="toolbar">
        <div class="searchHold">Crop Selected Images</div>
    </div>
    <md-progress-linear class="loader" ng-if="loading" md-mode='indeterminate'></md-progress-linear>
    <div class="listContainer">
        <section class="left">
            <ul>
                <li ng-repeat="img in images" ng-click="!img.cropped?loadtoCrop(img.img, $index):false">
                    <img ng-src="{{img.img}}" check-loading>
                    <md-icon ng-if="img.cropped" md-svg-src = '{{baseUrl}}superevent/app/checked.svg' class="s48" ></md-icon>
                    <md-icon ng-if="error" md-svg-src = '{{baseUrl}}superevent/app/refresh.svg' class="s36" ng-click="refreshImage(img)" ></md-icon>
                </li>
            </ul>
        </section>
        <section class="cropArea">
            <nc-darkroom image="image" on-crop="image_changed(image,id)" history="false" crop="{}" rotate="false" save="false">
            </nc-darkroom>

        </section>
        <div class="croppedList">
            <h3>Cropped images</h3>
            <ul>
                <li ng-repeat="img in images.slice().reverse()" ng-if="img.cropped">
                  <img src="{{img.croppedimg}}">
                </li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <div class="footerHold">
            <button type="button" ng-click="goSubmit()" >Save Cropped{{ count===0?'':' '+count}} Images</button>
        </div>
    </div>
</div>